<h2 class="sm:text-xl sm:mb-4">Search Book</h2>
<form class="sm:border sm:p-2 sm:rounded sm:w-fit sm:mb-8" action="/books" method="get">
   <div class="mb-2 sm:flex sm:gap-3 sm:justify-end">
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
   </div>
   <div  class="mb-2 sm:flex sm:gap-3 sm:justify-end">
    <label>Publish After</label>
    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
   </div>
   <div  class="mb-2 sm:flex sm:gap-3 sm:justify-end">
    <label>Publish Before</label>
    <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
   </div>
    <div class="sm:flex sm:justify-end"><button class="sm:bg-gray-400 sm:px-3 sm:py-1 sm:rounded sm:hover:bg-gray-500 sm:transition-all" type="submit">Search</button></div>
</form>
<div class="block w-52 h-64 mb-4 rounded overflow-hidden hover:shadow-lg sm:block sm:w-60 sm:h-80 sm:mb-4 sm:rounded sm:overflow-hidden sm:hover:shadow-lg lg:w-40 lg:h-64">
    <% books.forEach(book => { %>
       <a class="sm:block sm:w-60 sm:h-80 sm:mb-4 sm:rounded sm:overflow-hidden sm:hover:shadow-lg lg:w-40 lg:h-64" href="/books/<%= book.id %>">
         <img src="<%= book.coverImagePath %>" class="sm:object-fit sm:w-full sm:h-full" alt="">
       </a>
    <% }) %> 
  </div>