<h2 class="text-xl mb-4">Search Book</h2>
<form class="border p-2 rounded w-fit mb-8" action="/books" method="get">
   <div class="mb-2 flex gap-3 justify-end">
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
   </div>
   <div  class="mb-2 flex gap-3 justify-end">
    <label>Publish After</label>
    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
   </div>
   <div  class="mb-2 flex gap-3 justify-end">
    <label>Publish Before</label>
    <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
   </div>
    <div class="flex justify-end"><button class="bg-gray-400 px-3 py-1 rounded hover:bg-gray-500 transition-all" type="submit">Search</button></div>
</form>
<div class="grid grid-cols-5 gap-4">
    <% books.forEach(book => { %>
        <a class="w-36 h-44 mb-4 block rounded overflow-hidden hover:shadow-lg" href="/books/<%= book.id %>">
            <img src="<%= book.coverImagePath %>" class="h-full w-full" alt="">
          </a>
    <% }) %> 
</div>