<div class="w-fit">
    <h2 class="text-xl mb-4"><%= book.title %></h2>
<div class="w-36 h-44 mb-4 block rounded overflow-hidden">
<img src="<%= book.coverImagePath %>" class="h-full w-full" alt="">
</div>
<div class="text-lg">Author: <%= book.author.name %></div>
<div class="text-lg">Publish Date: <%= book.publishDate.toDateString() %></div>
<div class="text-lg">Page Count: <%= book.pageCount %></div>
<div class="text-lg">Description <%= book.description %></div>

<div class="-ml-2 flex justify-start items-center text-lg">
    <a class="px-2 hover:bg-yellow-500 rounded transition-all" href="/books/<%= book.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
<a class="px-2 hover:bg-gray-500 rounded transition-all" href="/authors/<%= book.author.id %>">View Author</a> 

</div>
</div>