<h2 class="sm:text-xl sm:mb-2">Search Author</h2>
<form class="flex flex-col justify-center border sm:block sm:w-fit p-2 rounded" action="/authors" method="get">
    <label class="sm:mr-1">Name</label>
    <input class="sm:mr-1 sm:rounded" type="text" name="name" value="<%= searchOptions.name %>">
    <button class="m-auto block sm:inline-block sm:hover:text-gray-500" type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
    <div class=" flex flex-col items-center sm:flex-row justify-between mb-4 sm:hover:bg-zinc-300 rounded p-2">

        <div class="text-2xl sm:text-xl"><%= author.name %> </div> 

        <div class="flex sm:text-lg gap-4">
        <a class="sm:px-2 sm:hover:bg-green-500 sm:rounded sm:transition-all" href="/authors/<%= author.id %>">View</a>
        <a class="sm:px-2 sm:hover:bg-yellow-500 sm:rounded sm:transition-all" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', 
                {url: `/authors/${author.id}`})
        %> 
        </div>
    </div>
    
<% }) %> 