<div class="sm:flex sm:justify-between sm:mb-4 sm:hover:bg-zinc-300 sm:rounded p-2">
    <h2 class="sm:text-xl"><%= author.name %></h2>
    <div class="sm:flex sm:text-lg sm:mb-4">
        <a class="sm:px-2 sm:hover:bg-green-500 sm:rounded sm:transition-all" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', { url: `authors/${author.id}` }) %>
    </div>
</div>
<% if(booksByAuthor.length > 0) { %>
    <h2 class="sm:text-xl sm:mb-8 sm:flex sm:justify-center">Books by Author</h2>
    <div class="sm:flex sm:flex-col sm:justify-center sm:items-center">
        <% booksByAuthor.forEach(book => { %>
            <a class="sm:block sm:w-60 sm:h-80 sm:mb-4 sm:rounded sm:overflow-hidden sm:hover:shadow-lg" href="/books/<%= book.id %>">
                <img src="<%= book.coverImagePath %>" class="sm:object-fit sm:w-full sm:h-full" alt="">
              </a>
        <% }) %> 
    </div>
<%  } %> 